<!doctype html>
<html>

<head>
  <!-- CSS stylesheets -->
  <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet">
  <link href="node_modules/angular-material/angular-material.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  <link href="css/leaflet.css" rel="stylesheet" />

  <!-- Libraries -->
  <script src="js/vendor/angular.min.js"></script>
  <!-- <script src="node_modules/angular/angular.min.js"></script> -->
  <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
  <!-- <script src="node_modules/angular-route/angular-route.min.js"></script> -->
  <script src="node_modules/angular-animate/angular-animate.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>

</head>

<body ng-app="NearMeApp" layout="column" ng-controller="MainController">

  <md-toolbar md-whiteframe="10">
    <div class="md-toolbar-tools">
      <h1> &nbsp&nbsp&nbsp&nbsp</h1>
      <h1> MapIt</h1>
      <md-button>
        <a href="#/">About</a>
      </md-button>
      <md-button ng-click="toggleSideBar()">
        Search
      </md-button>
    </div>
  </md-toolbar>

  <div layout="row" flex>

    <md-sidenav md-component-id="left">
      <br><br><br><br><br>
      <div layout="column">
        <div>
          Get your Lat Long from Address <a href="https://www.latlong.net/convert-address-to-lat-long.html"  target="_blank">here</a>
        </div>
        <br><br>
        <md-input-container>
          <label>Latitude</label>
          <input type="text" ng-model="latitude">
        </md-input-container>
        <md-input-container>
          <label>Longitude</label>
          <input type="text" ng-model="longitude">
        </md-input-container>
        <md-button class="md-primary" ng-click="searchLocation()">Search</md-button>
      </div>
    </md-sidenav>

    <div ng-view></div>
  </div>


  <!-- Modules -->
  <script src="js/app.js"></script>

  <!-- Controllers -->
  <script src="js/controllers/MainController.js"></script>
  <script src="js/controllers/AboutController.js"></script>

  <!-- Directives -->
  <script src="js/vendor/leaflet.js"></script>
  <script src="js/vendor/angular-leaflet-directive.min.js"></script>
  <script src="js/vendor/helpers.js"></script>

  <!-- Services -->
  <script src="js/services/places.js"></script>

</body>

</html>